.highlighted-row {
    background-color: rgb(var(--v-theme-surface));
    /* color: rgb(var(--v-theme-on-primary)); */
    /* Customize this color as needed */
}

.main {
    min-width: 100%;
    /* Allows content to shrink */
    max-width: fit-content;
    /* Limits container width to parent width */
    overflow: auto;
    /* Adds scrollbar if content overflows */
    display: inline-block;
    /* Ensure content is scrollable if it overflows */
}

 /* even rows color */
.v-data-table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .03);
}

/* end column  */
.v-data-table__td.v-data-table-column--align-center {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

/* start column  */
.v-data-table__td.v-data-table-column--align-start {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.truncate-text {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.bordered-card {
  border: 1px solid var(--v-theme-group-outline);
}

.border-none {
  border: none;
}
