.main {
  min-width: 100%;
  /* Allows content to shrink */
  max-width: fit-content;
  /* Limits container width to parent width */
  overflow: auto;
  /* Adds scrollbar if content overflows */
  display: inline-block;
  /* Ensure content is scrollable if it overflows */
}

/* even rows color */
.v-data-table tbody tr:nth-of-type(even) {
  background-color: rgba(0, 0, 0, .03);
}

/* end column  */
.v-data-table__td.v-data-table-column--align-center {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

/* start column  */
.v-data-table__td.v-data-table-column--align-start {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.truncate-text {
overflow: hidden !important;
text-overflow: ellipsis !important;
white-space: nowrap !important;
}

.bordered-card {
border: 1px solid var(--v-theme-group-outline);
}

.border-none {
border: none;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.centered-input .v-field__input {
  text-align: center;
}

.centered-subheader .v-list-subheader__text {
  margin-left: auto!important;
  margin-right: auto!important;
}

.prepend-icon-spacing .v-list-item__spacer {
  width: 15px!important;
}

.no-padding-start .v-list-group__items .v-list-item {
  padding-inline-start: 0px !important;
}
